   Analyzing Investment Trends In The indian Startup Ecosystem Data-Driven Approach Using 'CRISP-DM'
   
   BUSINESS UNDERSTANDING 
   
 Objective
   Our team is exploring the indian start ecosystem to have insights funding trends and establishes promising opportunities. The main objective of exploring the indian ecosystem is to analyze funding dataset from 2018 to 2021,by focusing on  the key factors, i.e the amount of funding received  sectors in the ecosystem, stages of investment and geographical locations.

   HYPOTHESIS TESTING
   Null Hypothesis(H0) There are no significant differences in the funding amount received by all the startups across different sectors and stages.
   
   
   Alternative Hypothesis (H1) There are significant differences in the funding amount received  by all the startups across different sectors and stages.


DATA UNDERSTANDING
COLUNMS
company_Brand: Name of the startup.
Founded: year the startup was founded.
HeadQuarter: City where the startup is headquartered.
Sector: INdustry sector of the startup.
What_it_does: Brief description of the startup's business.
Founders: Names of the Founders
Investors:  Investors or investment firms that funded the startup.
Amount: amount of funding received (in dollars).
Stage: stage of investment (i.e pre-seed, seed, series A).


ANALYTICAL QUESTIONS
1. Funding Trends:
How has the total funding amount changed year over year from 2018 to 2021?
How has the average funding amount in each sector changed over the years (2018 - 2021)
 
2. Sector Analysis:
Which sectors have received the most funding, and how does the funding distribution vary across sectors?
 
3.Stage Analysis:
What is the distribution of funding across different investment stages (e.g., Pre-seed, Seed, Series A)?
 
4. Geographical Analysis:
Which cities or regions have the highest concentration of funded startups?
 
5.Investor Influence:
Who are the top investors in the Indian startup ecosystem, and what is their funding pattern?
 
6. Founder Impact:
Is there a correlation between the number of founders and the amount of funding received?
 
7. What are the characteristics of startups in the highest-funded sectors (e.g., number of founders, location)?
 
8. Which Business is more viable to set - The best performing businesses?

In [1]:
 %pip install pyodbc  
 %pip install python-dotenv

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: python-dotenv in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
username = environment_variables.get("username")
password = environment_variables.get("password")

In [4]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [5]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# load 2020 dataset

query = '''Select * 
from dbo.LP1_startup_funding2020'''

data = pd.read_sql(query, connection)
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

CHECK THE SHAPE OF 2020  DATASET

The shape of the data tells you the number of rows and columns in your dataset

In [8]:
data.shape

(1055, 10)

GET BASIC INFORMATION ABOUT 2020 DATASETS

This method prints out information on your dataframe including all the columns, non-null values and dtypes

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

CHECK FOR DUPLICATES IN THE 2020 DATASET

In [10]:
data.duplicated().sum()

3

CHECK FOR NULL VALUES IN THE 2020 DATASETS

In [11]:
data.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [12]:
data.describe()

           Founded        Amount
count   842.000000  8.010000e+02
mean   2015.363420  1.130430e+08
std       4.097909  2.476635e+09
min    1973.000000  1.270000e+04
25%    2014.000000  1.000000e+06
50%    2016.000000  3.000000e+06
75%    2018.000000  1.100000e+07
max    2020.000000  7.000000e+10

In [13]:
data.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [14]:
data.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount           float64
Stage             object
column10          object
dtype: object

In [15]:
#Displaying colums with missing values
data.isna().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [16]:
#Dropping columns
data.drop(['column10'],axis=1,inplace=True)

In [17]:
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None

Handling missing values

In [18]:
#For columns with a few missing values, fill with 'unknown'
data['HeadQuarter'].fillna('Unknown,inplace=True')
data['Sector'].fillna('Unknown,inplace=True')
data['Founders'].fillna('Unknown,inplace=True')
data['Investor'].fillna('Unknown,inplace=True')

0                             Angel investors
1                             GSF Accelerator
2                              Venture Center
3         Venture Catalysts, PointOne Capital
4         Siana Capital Management, Info Edge
                        ...
1050    DSG Consumer Partners, Blume Ventures
1051            Sequoia India, Ribbit Capital
1052                               Verlinvest
1053               SIG Global India Fund LLP.
1054                        Chiratae Ventures
Name: Investor, Length: 1055, dtype: object

In [19]:
#For'Founded'fill missing values with the median year
data['Founded'].fillna(data['Founded'].median(),inplace=True)

In [20]:
#For'Stage'fill missing values with the median funding amount
data['Amount'].fillna(data['Amount'].median(),inplace=True)

In [21]:
#For'Founded'fill missing values with aplaceholder
data['Stage'].fillna('Unknown',inplace=True)

In [22]:
#Treating the 'Founded' as Year.
#Convert 'Founded' to integer type.
data['Founded'] = data['Founded'].astype(int)

In [23]:
#Optimizing Memory usage
#Convert 'Stage' to categorical type
data['Stage'] = data['Stage'].astype('category')

In [24]:
#verifying the changes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        1055 non-null   int32
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         1055 non-null   float64
 8   Stage          1055 non-null   category
dtypes: category(1), float64(1), int32(1), object(6)
memory usage: 64.4+ KB

In [25]:
#Identifying Duplicate Rows
duplicates = data[data.duplicated()]
print(duplicates)

    Company_Brand  Founded HeadQuarter                 Sector  \
145     Krimanshi     2015     Jodhpur  Biotechnology company
205         Nykaa     2012      Mumbai              Cosmetics
362        Byjuâ€™s     2011   Bangalore                 EdTech

                                          What_it_does         Founders  \
145  Krimanshi aims to increase rural income by imp...     Nikhil Bohra
205  Nykaa is an online marketplace for different b...    Falguni Nayar
362  An Indian educational technology and online tu...  Byju Raveendran

                                           Investor       Amount    Stage
145  Rajasthan Venture Capital Fund, AIM Smart City     600000.0     Seed
205                        Alia Bhatt, Katrina Kaif    3000000.0  Unknown
362           Owl Ventures, Tiger Global Management  500000000.0  Unknown

In [26]:
#Remove duplicate Rows
data = data.drop_duplicates()

In [27]:
#verify that duplicates rows have been removed
print(data.duplicated().sum())

0

In [28]:
# load 2021 dataset

query = '''Select * 
from dbo.LP1_startup_funding2021'''

data = pd.read_sql(query, connection)
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

CHECK THE SHAPE OF 2021 DATASET

The shape of the data tells you the number of rows and columns in your dataset

In [29]:
data.shape

(1209, 9)

GET BASIC INFORMATION ABOUT THE 2021 DATASETS

This method prints out information on your dataframe including all the columns, non-null values and dtypes

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

CHECK FOR DUPLICATES IN THE 2021 DATASET

In [31]:
data.duplicated().sum()

19

CHECK FOR NULL VALUES IN THE 2021 DATASETS

In [32]:
data.isnull().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [33]:
data.describe()

           Founded
count  1208.000000
mean   2016.655629
std       4.517364
min    1963.000000
25%    2015.000000
50%    2018.000000
75%    2020.000000
max    2021.000000

In [34]:
data.nunique()

Company_Brand    1033
Founded            30
HeadQuarter        70
Sector            254
What_it_does     1143
Founders         1095
Investor          937
Amount            278
Stage              31
dtype: int64

In [35]:
data.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
dtype: object

In [36]:
#Displaying colums with missing values
data.isna().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [44]:
#Dropping columns
data.drop(['column10'],axis=1,inplace=True,errors='ignore')

In [46]:
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

Handling missing values

In [47]:
#For columns with a few missing values, fill with 'unknown'
data['HeadQuarter'].fillna('Unknown,inplace=True')
data['Sector'].fillna('Unknown,inplace=True')
data['Founders'].fillna('Unknown,inplace=True')
data['Investor'].fillna('Unknown,inplace=True')

0                         BEENEXT, Entrepreneur First
1            Unilazer Ventures, IIFL Asset Management
2                    GSV Ventures, Westbridge Capital
3                              CDC Group, IDG Capital
4       Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal
                            ...
1204                                  Endiya Partners
1205                                         IIFL AMC
1206                                     Owl Ventures
1207                 Winter Capital, ETS, Man Capital
1208                   3one4 Capital, Kalaari Capital
Name: Investor, Length: 1209, dtype: object

In [48]:
#For'Founded'fill missing values with the median year
data['Founded'].fillna(data['Founded'].median(),inplace=True)

In [51]:
#Inspect the 'Amount' column
print("Data type of 'Amount' column:", data['Amount'].dtype)
print("First few values in 'Amount' column:\n", data['Amount'].head())

# Convert to numeric, forcing errors to NaN
data['Amount'] = pd.to_numeric(data['Amount'], errors='coerce')

# Check for any remaining non-numeric values or NaNs
print("First few values in 'Amount' column after conversion:\n", data['Amount'].head())

# Fill missing values with the median
data['Amount'].fillna(data['Amount'].median(), inplace=True)

# Verify if the missing values are filled
print("First few values in 'Amount' column after filling NaNs:\n", data['Amount'].head())

Data type of 'Amount' column: object
First few values in 'Amount' column:
 0      $1,200,000
1    $120,000,000
2     $30,000,000
3     $51,000,000
4      $2,000,000
Name: Amount, dtype: object
First few values in 'Amount' column after conversion:
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Amount, dtype: float64
First few values in 'Amount' column after filling NaNs:
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Amount, dtype: float64

In [53]:
#For'Founded'fill missing values with aplaceholder
data['Stage'].fillna('Unknown',inplace=True)

In [54]:
#Treating the 'Founded' as Year.
#Convert 'Founded' to integer type.
data['Founded'] = data['Founded'].astype(int)

In [55]:
#Optimizing Memory usage
#Convert 'Stage' to categorical type
data['Stage'] = data['Stage'].astype('category')

In [56]:
#verifying the changes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1209 non-null   int32
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         0 non-null      float64
 8   Stage          1209 non-null   category
dtypes: category(1), float64(1), int32(1), object(6)
memory usage: 73.4+ KB

In [57]:
#Identifying Duplicate Rows
duplicates = data[data.duplicated()]
print(duplicates)

          Company_Brand  Founded             HeadQuarter  \
107           Curefoods     2020               Bangalore
109            Bewakoof     2012                  Mumbai
111             FanPlay     2020          Computer Games
117      Advantage Club     2014                  Mumbai
119              Ruptok     2020               New Delhi
243            Trinkerr     2021               Bangalore
244               Zorro     2021                Gurugram
245       Ultraviolette     2021               Bangalore
246          NephroPlus     2009               Hyderabad
247             Unremot     2020               Bangalore
248         FanAnywhere     2021               Bangalore
249          PingoLearn     2021                    Pune
250                Spry     2021                  Mumbai
251             Enmovil     2015               Hyderabad
252       ASQI Advisors     2019                  Mumbai
253  Insurance Samadhan     2018               New Delhi
254     Evenflow Brands     2020                  Mumbai
255          MasterChow     2020        Food & Beverages
256  Fullife Healthcare     2009  Pharmaceuticals\t#REF!
394                 MPL     2018               Bangalore
407            BharatPe     2018               New Delhi
862              BYJU'S     2011               Bangalore

                                                Sector  \
107                                   Food & Beverages
109                                  Apparel & Fashion
111                                     Computer Games
117                                             HRTech
119                                            FinTech
243                                    Capital Markets
244                                     Social network
245                                         Automotive
246                             Hospital & Health Care
247                  Information Technology & Services
248                                 Financial Services
249                                         E-learning
250                                              Music
251                  Information Technology & Services
252                                 Financial Services
253                                          Insurance
254                                     Consumer Goods
255                                          Hauz Khas
256  Primary Business is Development and Manufactur...
394                                             Gaming
407                                            FinTech
862                                             EdTech

                                          What_it_does  \
107  Healthy & nutritious foods and cold pressed ju...
109  Bewakoof is a lifestyle fashion brand that mak...
111  A real money game app specializing in trivia g...
117  Advantage Club is India's largest employee eng...
119  Ruptok fintech Pvt. Ltd. is an online gold loa...
243  Trinkerr is India's first social trading platf...
244               Pseudonymous social network platform
245  Create and Inspire the future of sustainable u...
246  A vision and passion of redefining healthcare ...
247      Unremot is a personal office for consultants!
248                             Celebrity NFT platform
249  PingoLearn offers language learning courses wi...
250  THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...
251  Enmovil delivers a Business Intelligence Platf...
252  Bringing Blockchain technology intro mainstrea...
253  The insurance industry will help in representa...
254  Identify and partner with the upcoming eCommer...
255                A ready-to-cook Asian cuisine brand
256                                       Varun Khanna
394  Mobile Premier League is a skill-based eSports...
407  BharatPe develops a QR code-based payment app ...
862  BYJU'S is an educational technology company th...

                                          Founders  \
107                                   Ankit Nagori
109                               Prabhkiran Singh
111                                         YC W21
117             Sourabh Deorah, Smiti Bhatt Deorah
119                                    Ankur Gupta
243                Manvendra Singh, Gaurav Agarwal
244  Jasveer Singh, Abhishek Asthana, Deepak Kumar
245            Subramaniam Narayan, Niraj Rajmohan
246                                 Vikram Vuppala
247                            Shiju Radhakrishnan
248                    Varun Chaudhary, Amit Kumar
249             Mohit Menghani, Shubham Maheshwari
250                Gaurav Dagaonkar, Meghna Mittal
251     Ravi Bulusu, Nanda Kishore, Venkat Moganty
252                                  Swapnil Pawar
253                     Deepak Bhuvenshwari Uniyal
254                  Utsav Agarwal, Pulkit Chhabra
255                  Vidur Kataria, Sidhanth Madan
256             Morgan Stanley Private Equity Asia
394         Sai Srinivas Kiran G, Shubham Malhotra
407               Ashneer Grover, Shashvat Nakrani
862               Byju Raveendran, Divya Gokulnath

                                              Investor  Amount         Stage
107                Iron Pillar, Nordstar, Binny Bansal     NaN       Unknown
109                                         InvestCorp     NaN       Unknown
111                        Pritesh Kumar, Bharat Gupta     NaN      $1200000
117           Y Combinator, Broom Ventures, Kunal Shah     NaN       Unknown
119                                     Eclear Leasing     NaN       Unknown
243                                        Accel India     NaN      Series A
244  Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose     NaN          Seed
245                                    TVS Motor, Zoho     NaN      Series C
246                              IIFL Asset Management     NaN      Series E
247                          Inflection Point Ventures     NaN          Seed
248        Oasis Capital, Scorpio VC, DeltaHub Capital     NaN          Seed
249  Titan Capital, Haresh Chawla, AngelList Syndicate     NaN       Unknown
250                          9Unicorns, Ashneer Grover     NaN          Seed
251                                  Anicut Angel Fund     NaN  Pre-series A
252                              Founders Room Capital     NaN  Pre-series A
253                                     9Unicorns, ZNL     NaN  Pre-series A
254                                               None     NaN       Unknown
255                                       WEH Ventures     NaN          Seed
256                                          $22000000     NaN       Unknown
394               Pegasus Tech Ventures, Base Partners     NaN       Unknown
407                 InnoVen Capital, Steadview Capital     NaN          Debt
862                    Tiga Investments, Baron Capital     NaN       Unknown

In [58]:
#Remove duplicate Rows
data = data.drop_duplicates()

In [61]:
#verify that duplicates rows have been removed
print(data.duplicated().sum())

0